* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    padding: 24px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    display: flex;
    justify-content: flex-start;
    width: 60%;
    padding: 4px 0;
    gap: 24px;
    background-color: rgb(243, 158, 158);
}
.container {
    display: flex;
    justify-content: flex-start;
    width: 60%;
    padding: 4px 0;
    gap: 24px;
}
.container:nth-child(odd) {
 background-color: #ddd;
}
.vendor-container {
    height: auto;
    width: 280px;
    margin: 0 12px;
}
.vendor-container span {
    margin: 4px;
}
.amount-container {
    width: 120px;
    margin-right: 12px;
}
footer{
    text-align: center;
    padding-top: 24px;
}
