* {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    gap: 20px;
    background-color: cornflowerblue;
    padding: 0 30px;
}
header a {
    font-size: 1.25rem;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    padding: 1rem;
}
a:nth-child(1) {
    flex-grow: 1;
}