* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    height: 100%;
}

.main-container {
    height: 200px;
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.container-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.left-items,
.box-red {
    border-radius: 5px;
}
.left-items {
    width: 100%;
    height: 100%;
}
.box-yellow {
    background-color: #f5cb5b;
    border: 3px solid #b99941 ;
}
.box-green {
    background-color: #88d498;
    border: 3px solid #6baf7a;
}
.container-right {
    width: 40%;
}
.box-red {
    min-width: 200px;
    width: 100%;
    height: 100%;
    background-color: #ee6b5a;
    border: 3px solid #b65245;
}